.wrapper {
    overflow-x: hidden;

    .container {
        overflow-x: hidden;
    }
}

// banner begin
.banner__wrapper {
    overflow: hidden;
    width: 100%;
    height: 60vh;

    .banner__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
        &:hover {
            box-shadow: 0 2px 16px 8px rgba(0, 0, 0, 0.1);
            transform: scale(1.05);
        }
    }
}
// banner end

// account start

// account end

.content__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 8%;
    gap: 50px;
    position: relative;

    .content__left {
        flex: 0.3;
        position: sticky;
        top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .content__right {
        flex: 0.7;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }
}

.content__icon {
    display: none;
    position: absolute;
    font-size: 65px;
    left: -15px;
    color: #1400ff;

    .icon {
        position: sticky;
        top: 20px;
    }
}

.content__left--reponsive {
    display: none;
}

.content__search {
    padding: 20px 20px;
    background: #f8fafd;
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);

    .content__search--header {
        font-size: 18px;
        font-weight: 700;
        color: #4c4747;
    }

    .content__search--control {
        position: relative;
        border: 1px solid transparent;
        border-radius: 30px;
        display: flex;
        height: 50px;

        background-color: rgba(22, 24, 35, 0.06);

        .content__search--input {
            flex: 1;
            height: 100%;
            padding: 0 18px;
            color: #4c4747;
            font-size: 16px;
            caret-color: #2400ff;
            background-color: transparent;
            outline: none;
            border: 1px solid rgba(0, 0, 0, 0.1);

            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;

            &::not(:placeholder-shown) ~ .content__search--btn {
                color: rgba(22, 24, 35, 0.75);
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 1px;
                height: 20px;
                background-color: rgba(22, 24, 35, 0.12);
            }
        }
        .content__search--btn {
            border: 1px solid rgba(0, 0, 0, 0.1);
            outline: none;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 100%;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            font-size: 8px;
            color: rgba(22, 24, 35, 0.34);

            &:hover {
                cursor: pointer;
                background-color: rgba(22, 24, 35, 0.03);
            }
            &:active {
                background-color: rgba(22, 24, 35, 0.06);
            }

            .content__search--icon {
                width: 30px;
                height: 30px;
            }
        }
    }
}

.tab__wrapper {
    background: #f8fafd;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
    padding: 10px;
    overflow-x: hidden;
    width: 100%;

    .tab__list {
        list-style: none;
        display: grid;
        grid-auto-flow: column;
        scroll-behavior: auto;
        gap: 12px;
        overflow-y: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        .tab__item {
            white-space: nowrap;
            font-size: 12px;
            cursor: pointer;
            text-align: center;
            color: #7000ff;
            padding: 10px 16px;
            font-weight: 600;
            border-radius: 30px;
            border: 1px solid #7000ff;
            transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;

            &:hover {
                box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
                background: #7000ff 39.36%;
                color: #fff;
            }
        }

        .tab__item--active {
            white-space: nowrap;
            font-size: 12px;
            cursor: pointer;
            text-align: center;
            background: #7000ff 39.36%;
            color: #fff;
            padding: 10px 16px;
            font-weight: 600;
            border-radius: 30px;
            border: 1px solid #7000ff;
            transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
        }
    }
}

.content__filter {
    padding: 20px 20px;
    background: #f8fafd;
    border-radius: 8px;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);

    .content__filter--header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 15px;
        border-bottom: 1px solid #4c4747;

        .content__filter--title {
            font-size: 18px;
            font-weight: 700;
            color: #4c4747;
        }

        .content__filter--icon {
            font-size: 20px;
        }
    }

    .content__filter--option {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .content__filter--group {
            display: flex;
            gap: 12px;
            align-items: center;
            justify-content: space-between;

            .content__filter--name {
                display: flex;
                align-items: center;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                color: #4c4747;

                .content__filter--icon {
                    width: 25px;
                    height: 25px;
                    color: #4c4747;
                }
                span {
                    color: #4c4747;
                    margin-left: 12px;
                    font-size: 12px;
                    text-align: center;
                    font-weight: 600;
                }
            }
            .content__filter--description {
                color: #4c4747;
                flex: 1;
                font-size: 12px;
                text-align: left;
                font-weight: 600;
            }

            .content__filter--value {
                font-size: 16px;
                font-weight: 600;
                color: rgba(121, 34, 227, 0.95);
            }

            input[type="checkbox"] {
                position: relative;
                width: 40px;
                height: 18px;
                appearance: none;
                background: #c6c6c6;
                outline: none;
                border-radius: 20px;
                transition: 0.5s;
                box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
            }

            input:checked[type="checkbox"] {
                background: #2400ff;
            }

            input[type="checkbox"]:before {
                content: "";
                position: absolute;
                width: 20px;
                height: 18px;
                border-radius: 50%;
                top: 0;
                left: 0;
                background: #fff;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                transform: scale(1.1);
                transition: 0.5s;
            }
            input:checked[type="checkbox"]:before {
                left: 20px;
            }
        }
    }
}

.follower__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .follower__header {
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        background: linear-gradient(
            90deg,
            #8f04a6 0%,
            #c0f 0%,
            #7000ff 39.36%,
            rgba(44, 0, 219, 0.91) 63.12%,
            rgba(4, 0, 203, 0.89) 79.64%,
            #1400ff 99.32%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .follower__container {
    }
}

@media screen and (max-width: 768px) {
    .content__wrapper {
        display: block;

        .content__left {
            display: none !important;
        }
        .content__right {
            width: 100%;
        }

        .content__icon {
            display: block;
        }

        .content__left--reponsive {
            position: relative;
            display: flex;
            gap: 10px;
            top: 30px;
            left: -50%;
            transform: translateX(calc(50% + 10px));
            flex-direction: column;
            z-index: 100;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .content__wrapper {
        display: block;

        .content__left {
            display: none !important;
        }
        .content__right {
            width: 100%;
        }

        .content__icon {
            display: block;
        }

        .content__left--reponsive {
            position: relative;
            display: flex;
            gap: 10px;
            top: 30px;
            left: -50%;
            transform: translateX(calc(50% + 10px));
            flex-direction: column;
            z-index: 100;
        }
    }
}
