.wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem 1rem;
    font-family: var(--font-family);
    cursor: pointer;
    background: var(--white-color);
    border-radius: var(--border-radius-4);
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #c2c2c2;
    transition: 0.3s ease-in-out;
    user-select: none;
    color: var(--text-color);

    &:hover {
        border: 0.125rem solid #00a4aa;
        color: #00a4aa;
    }
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

@media only screen and (max-width: 768px) {
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
}

@media only screen and (min-width: 1280px) and (max-width: 1535px) {
}

@media only screen and (min-width: 1536px) {
}
