.wrapper {
    width: min(90rem, 90%);
    margin: 0 auto;
    position: relative;
    margin-top: 100px;

    .container {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
}

.other__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    position: relative;
    max-width: 840px;

    .other__header {
        text-align: center;
        color: #4c4747;
        font-size: 40px;
        font-weight: 600;
    }
}
