.wrapper {
    width: min(90rem, 90%);
    margin: 0 auto;
    position: relative;
    margin-top: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.other__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    position: relative;
    max-width: 840px;
}

// tabs

.content__infomation {
    height: 400px;
    width: 100%;
    background: #f8fafd;
}
.tabs {
    display: flex;
    width: 100%;
    background: var(--white--color);
}

.tab__item {
    padding: 16px 20px 11px 20px;
    font-size: 20px;
    text-align: center;
    color: #c23564;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
    &:hover {
        opacity: 1;
        background-color: rgba(194, 53, 100, 0.05);
        border-color: rgba(194, 53, 100, 0.1);
    }
}

.tab__item--active {
    position: relative;
    padding: 16px 20px 11px 20px;
    font-size: 20px;
    text-align: center;
    color: #c23564;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    opacity: 1;
    cursor: pointer;
    transition: all 0.5s ease;
    opacity: 1;
    background-color: rgba(194, 53, 100, 0.05);

    &::before {
        position: absolute;
        content: "";
        display: block;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 5px;
        border-radius: 15px;
        background-color: #c23564;
        transition: all 0.2s ease;
        opacity: 1;
    }
}

.tab__content {
    padding: 28px;
    max-height: 100%;
    overflow-y: scroll;
    h2 {
        font-size: 24px;
        margin-bottom: 8px;
    }
}

.metadata__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.metadata__container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.metadata__key {
    flex: 0.2;
    padding: 5px 10px;
    max-width: 120px;
    background: #000;
    text-align: left;
}

.metadata__value {
    flex: 0.8;
}

.content__wrapper {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.content__left {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 600px;
    background: #f8fafd;
}

.content__right {
    width: 100%;
    display: flex;
    gap: 50px;

    flex-direction: column;
}

.content__content {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    height: 350px;
    background: #f8fafd;
}
.content__price {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    height: 70px;
    background: #f8fafd;
}

// sketeton
.content__left--skeleton {
    width: 100%;
    height: 600px;
}

.content__right--skeleton {
    width: 100%;
    display: flex;
    gap: 50px;
    flex-direction: column;
}

.content__content--skeleton {
    height: 350px;
}
.content__price--skeleton {
    height: 70px;
}

.skeleton__item--skeleton {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}
