.wrapper {
    width: 400px;
    height: 62px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 13px 0px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;

    &:hover {
        background: rgba(0, 0, 0, 0.2);
    }

    .image {
        height: 40px;
        width: 40px;
        z-index: 200;
        background: #fff;
        padding: 2px;
        border-radius: 4px;
    }

    .title {
        margin-left: 16px;
        font-size: 18px;
        font-weight: 700;
    }
}
