* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
}
:root {
    --backgroundcolor_60: #fff;
    --backgroundcolor_30: #f8fafd;
    --linearcolor_befor_hover: linear-gradient(
        90deg,
        #8f04a6 0%,
        #c0f 0%,
        #7000ff 39.36%,
        rgba(44, 0, 219, 0.91) 63.12%,
        rgba(4, 0, 203, 0.89) 79.64%,
        #1400ff 99.32%
    );
    --linearcolor_hover: (
        90deg,
        #8f04a6 0%,
        #c0f 0%,
        #7000ff 39.36%,
        rgba(44, 0, 219, 0.91) 63.12%,
        rgba(4, 0, 203, 0.89) 79.64%,
        #1400ff 99.32%
    );
    --border: 0.1px solid #8f04a6;
    --color_purple: #8f04a6;
    --border_input: 0.1px solid #96999c;
    --border_hover: 0.2px solid #d900ff;
    --hover_shadow: 4px 10px 4px 0px rgba(0, 0, 0, 0.25);
    --border_radius_30: 30x;
    --border_radius_20: 20px;
    --font_size_p: 14px;
    --font_size_title: 16px;
    --font_size_h1: 40px;
    --font_size_h2: 36px;
    --font_size_h3: 32px;
    --font_size_h4: 28px;
    --font_color_purble_hover: #8f04a6;
    --font_color_white: #fff;
    --font_color_dark: #4c4747;
    --font_color_hover: opacity 0.5;
    --font_weight: 700;
}

.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-size: 1.2rem;
    gap: 5px;
}

.page-num {
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 400;
    color: #7000ff;
    list-style: none;

    &:hover {
        color: #fff;
        background: linear-gradient(
            90deg,
            #8f04a6 0%,
            #c0f 0%,
            #7000ff 39.36%,
            rgba(44, 0, 219, 0.91) 63.12%,
            rgba(4, 0, 203, 0.89) 79.64%,
            #1400ff 99.32%
        );
    }
}

.active {
    color: #fff;
    background: linear-gradient(
        90deg,
        #8f04a6 0%,
        #c0f 0%,
        #7000ff 39.36%,
        rgba(44, 0, 219, 0.91) 63.12%,
        rgba(4, 0, 203, 0.89) 79.64%,
        #1400ff 99.32%
    );
}

// animations
.skeleton {
    opacity: 0.7;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

// Scrollbar CSS Start
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: linear-gradient(
        90deg,
        #8f04a6 0%,
        #c0f 0%,
        #7000ff 39.36%,
        rgba(44, 0, 219, 0.91) 63.12%,
        rgba(4, 0, 203, 0.89) 79.64%,
        #1400ff 99.32%
    );
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
// Scrollbar CSS End
button,
input,
[tabindex] {
    outline: none;
    border: none;
}
// tippy-begin
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 8px 9px;
    }

    .tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
        top: -8px;
    }
}
// tippy-end

