.wrapper {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .container {
        width: 100%;
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr 1.5fr;

        gap: 20px;
        padding: 70px 8%;
        border-top: 1px solid #8f04a6;
        border-bottom: 1px solid #8f04a6;
    }
}

.footer__introduct {
    padding: 0 30px;
    .footer__introduct--logo {
        width: 300px;
        height: auto;

        .footer__logo--image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }
    .footer__introduct--description {
        margin-top: 20px;
        max-width: 300px;
    }
}

.footer__content {
    position: relative;
    text-align: center;

    .footer__content--heading {
        color: #000;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .footer__content--list {
        margin-top: 20px;
        list-style: none;

        .footer__content--item {
            margin-bottom: 10px;
            a {
                color: #555;
                text-decoration: none;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
}

.footer__contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 30px;

    .footer__contact--heading {
        color: #555;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .footer__input {
        width: 300px;
        height: 60px;
        border-radius: 16px;
        background: #f8fafd;
        border: 1px solid rgba(0, 0, 0, 0.25);
        display: flex;
        align-items: center;

        .footer__input--control {
            height: 100%;
            flex: 1;
            font-size: 16px;
            padding: 0 15px;
            border: none;
            outline: none;
            border-top-left-radius: 16px;
            border-bottom-left-radius: 16px;
        }

        .footer__input--icon {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            .icon {
                font-size: 25px;
                transform: rotate(-90deg);
                color: #555;
                opacity: 0.2;
            }
        }
    }

    .footer__list--icon {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .icon-link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            cursor: pointer;
            background-color: #fff;
            border-radius: 2px;
            font-size: 20px;
            color: #555;
            text-align: center;
            line-height: 35px;
            margin-right: 3px;
            margin-bottom: 5px;
            .icon {
            }

            &:hover {
                background-color: rgba(44, 0, 219, 0.91) 63.12%;
            }
        }
    }
}

.footer__origin {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-top: 10px solid
        linear-gradient(
            90deg,
            #8f04a6 0%,
            #c0f 0%,
            #7000ff 39.36%,
            rgba(44, 0, 219, 0.91) 63.12%,
            rgba(4, 0, 203, 0.89) 79.64%,
            #1400ff 99.32%
        );

    p {
        color: #000;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        margin: 0;

        .icon {
            color: #7000ff;
            font-size: 30px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .wrapper {
        justify-content: center;

        .container {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            text-align: center;
            gap: 30px;
            padding: 70px 8%;

            .footer__introduct {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 0;
                p {
                    margin-top: 20px;
                    max-width: 300px;
                }
            }
            .footer__content {
                text-align: center;
            }
            .footer__contact {
                padding: 0;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .wrapper {
        justify-content: center;
        .container {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            text-align: center;
            gap: 20px;
            padding: 70px 8%;

            .footer__introduct {
                display: flex;
                text-align: center;
                flex-direction: column;

                align-items: center;
                padding: 0;

                p {
                    margin-top: 20px;
                    max-width: 300px;
                }
            }
            .footer__content {
                text-align: center;
            }
            .footer__contact {
                padding: 0;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
