.wrapper {
    position: relative;
    z-index: 1;
}

.container {
    width: min(90rem, 90%);
    display: flex;
    height: 80px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    gap: 15px;
}

.button__wrapper {
    display: flex;
    align-items: center;
    gap: 10px;

    .button__container {
        position: relative;
    }

    .button__other {
        color: #000;
        background: #fff;
        padding: 0.4rem 1rem;
        text-decoration: none;
        text-transform: uppercase;
        border: 2px solid #c2c2c2;
        border-radius: var(--border-radius-4);
        transition: 0.3s ease-in-out;
        display: flex;
        align-items: center;
        gap: 10px;

        .icon__container {
            cursor: pointer;
            color: #00a4aa;
            position: relative;
            font-size: 18px;

            span {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                top: -6px;
                right: -6px;
                background: rgb(32, 129, 226);
                border-radius: 50%;
                color: rgb(255, 255, 255);
                height: 15px;
                width: 15px;
                font-size: 10px;
            }
        }
    }
}

@media screen and (max-width: 1290px) {
    .navbar {
        display: none;
    }
}

@media screen and (max-width: 656px) {
    .navbar {
        display: none;
    }
    .button__other {
        display: none !important;
    }
}
