.wrapper {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar__wrapper {
    border-radius: 50%;
}

.avatar__image {
    border-radius: inherit;
}

.infomation__wrapper {
    width: 100%;
}

.infomation__content {
    display: flex;
}

.key {
}

.value {
    max-width: 470px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
