.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

.inner {
    display: flex;
    gap: 10px;
}

.image__wrapper {
    width: 72px;
    height: 72px;
    overflow: hidden;
    border-radius: 8px;

    .image {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}


