.container {
    font-size: 12px;
    width: calc((100% - 100px));
    margin: auto;
    .wrapper {
        width: 80%;
        margin: auto;
        .header {
            margin: 30px 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h1 {
                font-size: 24px;
                font-weight: bold;
                background-clip: text;
                color: transparent;
                background-image: var(--linearcolor_befor_hover);
                background-size: 100% 100%;
            }
            .button {
                display: flex;
                gap: 10px;
            }
        }
        .content {
            .group_input {
                display: flex;
                flex-direction: column;
                gap: 28px;
                margin-bottom: 30px;
                .container_input {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    span {
                        font-size: 16px;
                        font-weight: 600;
                        color: var(--font_color_dark);
                    }
                    input {
                        width: 100%;
                        height: 40px;
                        line-height: 100%;
                        display: flex;
                        align-items: center;
                        outline: none;
                        padding-left: 10px;
                        padding-right: 20px;
                        border-radius: 8px;
                        border: 0.5px solid rgba(0, 0, 0, 0.25);
                        background: #f8fafd;
                        font-style: italic;
                        font-size: 12px;
                        color: var(--font_color_dark);
                    }
                    textarea {
                        font-style: to-upper-case($string: "");
                        width: 100%;
                        line-height: 100%;
                        min-height: 100px;
                        outline: none;
                        padding-top: 20px;
                        padding-left: 10px;
                        border-radius: 8px;
                        border: 0.5px solid rgba(0, 0, 0, 0.25);
                        background: #f8fafd;
                        font-style: italic;
                        font-size: 12px;
                        color: var(--font_color_dark);
                    }
                }
            }
            .button_save {
                display: flex;
                justify-content: center;
            }
        }
    }
}
